body {
	margin: 0;
	font-family: Helvetica;
	background-color: #D23333;
}

body h1 {
	color: white;
	font-family: Helvetica;
	font-weight: lighter;

}

#logo {
	height: 80px;
	width: 80px;
	
}

#container {
	display: flex;
	align-items: center;
	justify-content: center; 
	height: 100vh;

}